<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddian.youfan.admin.dao.UserDao">

	<select id="get" resultType="com.grandtech.gmis.admin.domain.UserDO">
		select  user_id , username , name , password , dept_id , email , mobile , status , user_id_create , gmt_create , gmt_modified , sex , birth , pic_id , live_address , hobby , province , city , district  from sys_user where user_id = #{value}
	</select>


	<select id="getByUserName" resultType="com.grandtech.gmis.admin.domain.UserDO">
		select  user_id , username , name , password , dept_id , email , mobile , status , user_id_create , gmt_create , gmt_modified , sex , birth , pic_id , live_address , hobby , province , city , district  from sys_user where username = #{userName}
	</select>

	<select id="list" resultType="com.grandtech.gmis.admin.domain.UserDO">
		<!--select  user_id , username , name , password , dept_id , email , mobile , status , user_id_create , gmt_create , gmt_modified , sex , birth , pic_id , live_address , hobby , province , city , district  from sys_user-->
		select u.user_id,u.username,u.name,u.password,u.dept_id,u.email,u.mobile,u.status,u.user_id_create,u.gmt_create,u.gmt_modified,u.sex,u.birth,u.pic_id,u.live_address,u.hobby,u.province,u.city,u.district from sys_user u
        <where>
		  		  <if test="userId != null and userId != ''"> and u.user_id = #{userId} </if>
		  		  <if test="username != null and username != ''">
					  and u.username like
					  <if test="dbName == 'oracle'">'%,'||#{username}||',%'</if>
					  <if test="dbName == 'mssql'">'%,'+#{username}+',%'</if>
					  <if test="dbName == 'mysql'">concat(concat("%",#{username}),"%")</if>
					  <if test="dbName == 'postgre'">CONCAT(CONCAT('%', #{username}), '%')</if>
				  </if>
		  		  <if test="name != null and name != ''"> and u.name = #{name} </if>
		  		  <if test="password != null and password != ''"> and u.password = #{password} </if>
		  		  <if test="deptId != null and deptId != ''"> and u.dept_id = #{deptId} </if>
		  		  <if test="email != null and email != ''"> and u.email = #{email} </if>
		  		  <if test="mobile != null and mobile != ''"> and u.mobile = #{mobile} </if>
		  		  <if test="status != null and status != ''"> and u.status = #{status} </if>
		  		  <if test="userIdCreate != null and userIdCreate != ''"> and u.user_id_create = #{userIdCreate} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and u.gmt_create = #{gmtCreate} </if>
		  		  <if test="gmtModified != null and gmtModified != ''"> and u.gmt_modified = #{gmtModified} </if>
		  		  <if test="sex != null and sex != ''"> and u.sex = #{sex} </if>
		  		  <if test="birth != null and birth != ''"> and u.birth = #{birth} </if>
		  		  <if test="picId != null and picId != ''"> and u.pic_id = #{picId} </if>
		  		  <if test="liveAddress != null and liveAddress != ''"> and u.live_address = #{liveAddress} </if>
		  		  <if test="hobby != null and hobby != ''"> and u.hobby = #{hobby} </if>
		  		  <if test="province != null and province != ''"> and u.province = #{province} </if>
		  		  <if test="city != null and city != ''"> and u.city = #{city} </if>
		  		  <if test="district != null and district != ''"> and u.district = #{district} </if>
			      ${scopeFilter}
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>
	</select>
	
 	<select id="count" resultType="int">
		select count(1) from sys_user u
		<where>
			<if test="userId != null and userId != ''"> and u.user_id = #{userId} </if>
			<if test="username != null and username != ''">
				and u.username like
				<if test="dbName == 'oracle'">'%,'||#{username}||',%'</if>
				<if test="dbName == 'mssql'">'%,'+#{username}+',%'</if>
				<if test="dbName == 'mysql'">concat(concat("%",#{username}),"%")</if>
				<if test="dbName == 'postgre'">CONCAT(CONCAT('%', #{username}), '%')</if>
			</if>
			<if test="name != null and name != ''"> and u.name = #{name} </if>
			<if test="password != null and password != ''"> and u.password = #{password} </if>
			<if test="deptId != null and deptId != ''"> and u.dept_id = #{deptId} </if>
			<if test="email != null and email != ''"> and u.email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and u.mobile = #{mobile} </if>
			<if test="status != null and status != ''"> and u.status = #{status} </if>
			<if test="userIdCreate != null and userIdCreate != ''"> and u.user_id_create = #{userIdCreate} </if>
			<if test="gmtCreate != null and gmtCreate != ''"> and u.gmt_create = #{gmtCreate} </if>
			<if test="gmtModified != null and gmtModified != ''"> and u.gmt_modified = #{gmtModified} </if>
			<if test="sex != null and sex != ''"> and u.sex = #{sex} </if>
			<if test="birth != null and birth != ''"> and u.birth = #{birth} </if>
			<if test="picId != null and picId != ''"> and u.pic_id = #{picId} </if>
			<if test="liveAddress != null and liveAddress != ''"> and u.live_address = #{liveAddress} </if>
			<if test="hobby != null and hobby != ''"> and u.hobby = #{hobby} </if>
			<if test="province != null and province != ''"> and u.province = #{province} </if>
			<if test="city != null and city != ''"> and u.city = #{city} </if>
			<if test="district != null and district != ''"> and u.district = #{district} </if>
			${scopeFilter}
		</where>
	</select>
	 
	<insert id="save" parameterType="com.grandtech.gmis.admin.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
			 username , 
			 name , 
			 password , 
			 dept_id , 
			 email , 
			 mobile , 
			 status , 
			 user_id_create , 
			 gmt_create , 
			 gmt_modified , 
			 sex , 
			 birth , 
			 pic_id , 
			 live_address , 
			 hobby , 
			 province , 
			 city , 
			 district 
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password}, 
			#{deptId}, 
			#{email}, 
			#{mobile}, 
			#{status}, 
			#{userIdCreate}, 
			#{gmtCreate}, 
			#{gmtModified}, 
			#{sex}, 
			#{birth}, 
			#{picId}, 
			#{liveAddress}, 
			#{hobby}, 
			#{province}, 
			#{city}, 
			#{district}
		)
	</insert>
	 
	<update id="update" parameterType="com.grandtech.gmis.admin.domain.UserDO">
		update sys_user 
		<set>
			<if test="username != null"> username  = #{username}, </if>
			<if test="name != null"> name  = #{name}, </if>
			<if test="password != null"> password  = #{password}, </if>
			<if test="deptId != null"> dept_id  = #{deptId}, </if>
			<if test="email != null"> email  = #{email}, </if>
			<if test="mobile != null"> mobile  = #{mobile}, </if>
			<if test="status != null"> status  = #{status}, </if>
			<if test="userIdCreate != null"> user_id_create  = #{userIdCreate}, </if>
			<if test="gmtCreate != null"> gmt_create  = #{gmtCreate}, </if>
			<if test="gmtModified != null"> gmt_modified  = #{gmtModified}, </if>
			<if test="sex != null"> sex  = #{sex}, </if>
			<if test="birth != null"> birth  = #{birth}, </if>
			<if test="picId != null"> pic_id  = #{picId}, </if>
			<if test="liveAddress != null"> live_address  = #{liveAddress}, </if>
			<if test="hobby != null"> hobby  = #{hobby}, </if>
			<if test="province != null"> province  = #{province}, </if>
			<if test="city != null"> city  = #{city}, </if>
			<if test="district != null"> district  = #{district}</if>
		</set>
		where user_id = #{userId}
	</update>

	<delete id="remove">
		delete from sys_user where user_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_user where user_id in 
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>

	<select id="listAllDept" resultType="long">
				select DISTINCT dept_id from sys_user
	</select>
</mapper>